<div>
    <h1>{{model.title || "Tasks" }}</h1>
    <button ng-click="addTaskModal()" class="btn btn-success header-button">
        Add new <span class="glyphicon glyphicon glyphicon-plus"></span>
    </button>
    <div ui-tree>
        <ol ui-tree-nodes ng-model="model.tasks" class="reset-padding">
            <li ng-repeat="task in model.tasks" ui-tree-node
                ng-include="'js/components/task/parts/ui-row.html'"></li>
        </ol>
        <div ng-show="model.tasks.length === 0">
            <p>There are no tasks =(</p>
        </div>
    </div>
</div>
