<div>
    <h1>Projects list</h1>

    <uib-tabset>
        <uib-tab index="0" heading="Projects" ng-click="setClickedRow()">
            <div ng-include="'js/components/project/parts/projects-list.html'"></div>
        </uib-tab>
        <uib-tab index="1" heading="Filters" ng-click="setClickedRow()">
            <div ng-include="'js/components/project/parts/filters-list.html'"></div>
        </uib-tab>
    </uib-tabset>

</div>
