<label ng-repeat="filter in filters" class="list-group-item" ng-class="{selected: $index==selectedRow}" ng-click="setClickedRow($index)">
    <input type="radio" ng-model="filters.title" value="{{filter.title}}"
           ng-click="filterProjects(filter)">
    <label class="project-input project-name">{{filter.title}}</label>
</label>
