<div class="modal-header">
    <h3 class="modal-title">Project: {{project.title}}</h3>
</div>
<div class="modal-body">
    <div>
        Title: {{project.title}}
    </div>
    <div>
        High level tasks: {{project.tasks.length}}
    </div>
    <div>
        All tasks: {{statistic.count}}
    </div>
    <div>
        All estimates: {{statistic.sumEstimated}}
    </div>
    <div>
        All remaining: {{statistic.sumRemaining}}
    </div>


</div>
<div class="modal-footer">
    <button class="btn btn-warning" type="button" ng-click="cancel()">Close</button>
</div>
