doctype html
html ng-app="todoManager"
    head
        title ToDo Manager

        //<link rel="stylesheet" href="style/app.css">
        //<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
        //<script src="bower_components/jquery/dist/jquery.min.js"></script>
        //<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        //<script src="js/dist.js"></script>

        link(rel='stylesheet', href='style/app.css')
        link(rel='stylesheet', href='bower_components/bootstrap/dist/css/bootstrap.min.css')

        script(src='bower_components/jquery/dist/jquery.min.js')
        script(src='bower_components/bootstrap/dist/js/bootstrap.min.js')
        script(src='js/dist.js')
        //script(data-main='./js/index.js' src='./js/libs/require.js')

    body
        block content
