<div ui-tree-handle class="tree-node">
    <a class="btn btn-success btn-xs" ng-if="task.tasks && task.tasks.length > 0" data-nodrag
       ng-click="toggle(this)">
        <span class="glyphicon" ng-class="{
          'glyphicon-chevron-right': collapsed,
          'glyphicon-chevron-down': !collapsed
        }"></span></a>
    <div ng-show="task.priority" class="section" ng-class="priorities.properties[task.priority].color + '-color'"
         ng-click="doneTask(task)" data-nodrag>
        <span class="glyphicon glyphicon-ok-sign"></span>
    </div>
    {{task.title}}
    <div ng-if="task.timeTracking.estimatedTime ? remaining = task.timeTracking.estimatedTime - task.timeTracking.spentTime : ''"
         class="section" tooltip-placement="bottom"
         uib-tooltip="Estimated {{task.timeTracking.estimatedTime}} / remaining {{remaining}} min">
        <span class="badge" ng-mouseenter="showEdit = true" ng-mouseleave="showEdit = false">
            {{task.timeTracking.estimatedTime}} / {{remaining}}</span>
    </div>


    <div class="pull-right dropdown" data-nodrag>
        <button class="btn dropdown-toggle tree-node" data-toggle="dropdown">
            <span class="glyphicon glyphicon-option-horizontal"></span>
        </button>
        <ul class="dropdown-menu">
            <li ng-repeat="action in taskActions">
                <a ng-click="setAction(action, task)">{{action.name}}</a>
            </li>
        </ul>
    </div>

</div>
<ol ui-tree-nodes="" ng-model="task.tasks" ng-class="{hidden: collapsed}">
    <li ng-repeat="task in task.tasks" ui-tree-node ng-include="'js/components/task/parts/ui-row.html'">
    </li>
</ol>
