<div class="modal-header">
    <h3 class="modal-title">Project: {{project.title}}</h3>
</div>
<div class="modal-body">
    <label>
        Title:
        <input type="text" ng-model="project.title" class="form-control">
    </label>

</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok(project)">OK</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>