<label ng-repeat="project in projects" class="list-group-item" ng-click="setClickedRow($index)"
       ng-class="{selected: $index==selectedRow}">
    <input type="radio" ng-model="projects.title" value="{{project.title}}"
           ng-click="refreshTasks(project)">
    <label class="project-input project-name">{{project.title}}</label>
    <span class="badge" ng-class="{'inverse-badge' : $index==selectedRow}">{{project.tasks.length}}</span>
    <div class="pull-right dropdown" data-nodrag>
        <button class="btn dropdown-toggle tree-node project-action" data-toggle="dropdown" ng-class="{'project-action-selected' : $index==selectedRow}">
            <span class="glyphicon glyphicon-option-horizontal"></span>
        </button>
        <ul class="dropdown-menu">
            <li ng-repeat="action in projectActions">
                <a ng-click="setProjectAction(action, project)">{{action.name}}</a>
            </li>
        </ul>
    </div>
</label>

<!--add project-->
<form class="list-group-item">
    <label class="input-group">
        <input type="text" name="title" ng-model="newProject.title" class="form-control">
        <div class="input-group-btn">
            <button type="submit" ng-click="addProject(newProject)" ng-disabled="!newProject.title"
                    class="btn btn-success">
                <span class="glyphicon glyphicon-ok"></span>
            </button>
        </div>
    </label>
</form>
