/* app css stylesheet */

.project-input input {
    width: 150px;
    margin-bottom: 5px;
}

.red-color {
    color: #c12e2a;
}

.black-color {
    color: black;
}

.green-color {
    color: green;
}

.yellow-color {
    color: yellow;
}

h1 {
    display: inline-block;
}

.dropdown-menu > li > a:focus,
.dropdown-menu > li > a:hover {
    cursor: pointer;
}

.dropdown button {
    margin-top: -6px;
}

li {
    list-style-type: none;
}

ul {
    padding-left: 0;
}

.reset-padding {
    padding-left: 0;
}

/* --- Tree --- */
.tree-node {
    border: 1px solid #dae2ea;
    background: #f8faff;
    color: #7c9eb2;
}

.nodrop {
    background-color: #f2dede;
}

.tree-handle {
    padding: 10px;
    background: #428bca;
    color: #FFF;
    margin-right: 10px;
}

.angular-ui-tree-drag {
    position: fixed;
}

.angular-ui-tree-handle:hover {
}

.angular-ui-tree-placeholder {
    background: #f0f9ff;
    border: 2px dashed #bed2db;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.angular-ui-tree-handle {
    background: #f8faff;
    border: 1px solid #dae2ea;
    color: #7c9eb2;
    padding: 10px 10px;
}

.angular-ui-tree-handle:hover {
    color: #438eb9;
    background: #f4f6f7;
    border-color: #dce2e8;
}

.angular-ui-tree-placeholder {
    background: #f0f9ff;
    border: 2px dashed #bed2db;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

tr.angular-ui-tree-empty {
    height: 100px
}

.group-title {
    background-color: #687074 !important;
    color: #FFF !important;
}

input[type="radio"] {
    display: none;
}

.selected {
    background-color: #438eb9 !important;
    color: white;
}

.uib-tab {
    width: 50%;
}

.nav-tabs {
    border-bottom: none;
}

.section {
    display: inline-block;
}

.list-group-item > .badge {
    float: inherit !important;
}

.project-action-selected {
    background-color: #438eb9 !important;
    color: white !important;
}

.project-action {
    background-color: white;
}

.inverse-badge {
    background-color: #fff !important;
    color: #777 !important;
}

.header-button {
    margin-bottom: 10px !important;
}