<div class="modal-header">
    <h3 class="modal-title">Task: {{task.title}}</h3>
</div>
<div class="modal-body">
    <label>
        Title:
        <input type="text" ng-model="task.title" class="form-control">
    </label>
    <label>
        Priority:
        <select ng-model="task.priority" class="form-control">
            <option ng-repeat="priority in priorities.properties" value="{{priority.value}}">{{priority.name}}</option>
        </select>
    </label>
    <label>
        Due Date & Time:
        <input type="datetime" ng-model="task.dueDateTime" uib-datepicker-popup="{{task.timeTracking.timeFormat}}"
               class="form-control">
    </label>
    <label>
        Comments:
        <input type="text" ng-model="task.comments" class="form-control">
    </label>

    <label>
        <input type="checkbox" ng-click="timeTracking = !timeTracking">
        Show time tracking info
    </label>
    <div ng-show="timeTracking">
        <label>
            Estimated time:
            <input type="number" ng-model="task.timeTracking.estimatedTime" min="0" class="form-control">
        </label>
        <label>
            Spent time:
            <input type="number" ng-model="task.timeTracking.spentTime" min="0" class="form-control">
        </label>
        <label>
            Remaining time:
            <!--todo add value-->
            <input type="number" value=""
                   class="form-control">
        </label>
        <label>
            Time format:
            <input type="text" ng-model="task.timeTracking.timeFormat" class="form-control">
        </label>
    </div>


</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-if="task.isNew" ng-click="ok(task)">OK</button>
    <button class="btn btn-primary" type="button" ng-if="!task.isNew" ng-click="update(task)">Update</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>